# System
__pycache__/
*.pyc
desktop.ini

# Environment & Config
*.env
.streamlit/secrets.toml
*.egg-info/

# Folders to ignore
venv/
.venv/
notebooks/
config/
data_output/
CSV_read_only/

# Logs
log/cleaning_log.txt
*.log

# Data
*.csv
*.xls
*.xlsx
*.json
*.parquet
*.pkl
