duckdb==1.5.2
google-api-python-client==2.197.0
joblib==1.5.3
numpy==2.4.3
pandas==2.3.3
xlrd==2.0.2
plotly==6.7.0
protobuf==5.29.6
python-dotenv==1.2.2
scikit-learn==1.9.0
scipy==1.17.1
llvmlite==0.47.0
shap==0.52.0
statsmodels==0.14.6
streamlit==1.56.0
streamlit-echarts==0.6.0
openpyxl
mlxtend